/*      styles.css    */

*{
    font-family: 'Lucida Sans', Arial, sans-serif;

}
h1,h2,h3{
    
    color:rgb(65, 64, 64);
    
}

h1{
    text-align: center;
    margin: 40px 0px 10px 10px;
    font-size: 36px;
}

h2{
    font-size: 20px;
}

h3{
    font-size: 16px;
}

.inform{
    color: rgb(150, 147, 147);
    font-stretch: extra-expanded;
    text-align: center;
    margin-top: 2px;
}

.button{
    color: rgb(25, 24, 24);
    background-color:rgba(220, 162, 162, 0.06);
    text-align:left;
}

.recipes_list{
    list-style-type: none;
    
}

.recipe_button{
    margin:40px 10px;
    border-left: 2px solid grey;
    width:400px;
    background-color: aliceblue;
    font-size: 20px;
    padding: 0px 10px;
    color:rgb(79, 78, 78);
    text-align:left;
    
}

img{
    width: 256px;
    height: auto;
    align-content: center;
}
